@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Libre Baskerville", serif;
}
p,
span,
div,
a,
button,
input,
label,
textarea {
    font-family: "Inter Tight", sans-serif;
}
