@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Baskervville", serif;
}
p,
div,
a,
button,
input,
label,
textarea {
    font-family: "Inter", sans-serif;
}
